:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: "Fraunces", serif;
    color: var(--dark-blue)
}

#root,
#__next {
    isolation: isolate;
}

body {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--grayish-blue);
}

h1 {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

.card {
    min-height: 100vh;
    background: var(--cream);
    display: grid;
    place-content: center;
}

.card__content {
    max-width: 343px;
    height: fit-content;
    background: var(--white);
    border-radius: .65rem;
    margin: 1.75em 1em;
}

.card__img {
    border-top-left-radius: .65rem;
    border-top-right-radius: .65rem;
}

.card__details {
    padding: 1.5em;
}

.card__item {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .75rem;
    line-height: 1.25;
    margin-bottom: .82em;
}

.card__title {
    font-size: 2rem;
    margin-bottom: 0.55em;
}

.card__description {
    font-size: .875rem;
    /* letter-spacing: 0.25px; */
    margin-bottom: 1.8em;
    line-height: 1.65;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
}

.price__new {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-cyan);
}

.price__old {
    font-size: .82rem;
    line-height: 1.75;
    margin-left: 1.5em;
}

.btn {
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    line-height: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
    background: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: .96em 0;
}

.btn:hover,
.btn:focus-visible {
    background: #1A4032;
    cursor: pointer;
}

/* .icon {
    display: inline-block;
    margin-right: 0.75em;
} */

.attribution {
    font-size: .6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 48em) {

    .card__content {
        max-width: 600px;
        margin: 0;
        display: flex;
    }

    .card__img {
        border-top-right-radius: 0;
        border-bottom-left-radius: .65rem;
        width: 100%;
        min-width: 300px;
    }

    .card__details {
        width: 100%;
        padding: 2em;
    }

    .card__item {
        margin-bottom: 1.75em;
    }

    .card__title {
        margin-bottom: 0.75em;
    }

    .card__description {
        margin-bottom: 2em;
    }

    .price {
        margin-bottom: 1.75em;
    }


}